body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero img ve css özellikleri */
.container{
 background-image: url("public/assets/iteration-1/home-banner.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  
}
.content{
  position: relative;
  top: -150px;
}
.content img{
  position: relative;
  bottom:  -30px;
}
.sariText{
  color: #FDC913;
  font-family: 'Satisfy';
  position: relative;
  bottom: -40px;
}
.text{
  font-family: Roboto Condensed;
  font-weight: 300;
  font-style: Light;
  font-size: 3rem;
  letter-spacing: 1.5px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn{
  background-color: #FDC913;
  position: relative;
  top: -40px;
  width: 150px;
  height: 50px;
  opacity: 1;
  border-radius: 50px;
  border: none;
}

/* Menü içerikleri */
.menu{
   background: #FFFFFF; 
}

.menu ul{
  display: flex;
  justify-content: center;
  gap:4rem;
  
}
.caption {
  font-family: 'Barlow';
  font-size: 18px;
  text-decoration: none;
  color: black;
  position: relative;
  top: -10px;
  padding-left: 0.5rem;
}
.menu-item ul{
  list-style: none;

}
.menu-item ul li a{
  text-decoration: none;
  
  
}
.menu-item img{
 width: 42px;
height: 42px;
}

/* Özel menü paketleri */
.detay{
  background: #FAF7F2;

}

.menu-content{
  display: flex;
  gap: 20px;
  max-width: 1180px;
  margin: 0 auto;
  align-items: flex-start; 
  padding-top: 50px;
  
  
}


.right-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 530px;
}


.special-menu{
  position: relative;
  flex: 0 0 531px;            
  height: 449px;              
  border-radius: 12px;
  overflow: hidden;
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
}


.special-menu2,
.special-menu3{
  position: relative;
  flex: 0 0 auto;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.special-menu2{ 
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  
 }
.special-menu3{ 
  background-image: url("public/assets/iteration-2/cta/kart-3.png"); 
  /* opacity: 0.5; */
  margin-top: -10px;
  /* background-repeat: repeat-x; */
}


.special-inner{
  position: absolute;
  left: 32px;
  top: 32px;
  right: 32px;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;

 
}


.card-inner{
  position: absolute;
  left: 24px;
  top: 24px;
  right: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}


.special-menu h2{
  font-family: 'Quattrocento';
  font-size: 60px;
  line-height: 72px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  letter-spacing: -0.02em;
}

.special-menu .subtitle{
  font-family: 'Barlow';
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 8px;
}


.special-menu2 h3,
.special-menu3 h3{
  font-family: 'Barlow';
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}
.special-menu2 h3{
  color: white;
}
.special-menu3 h3{
  color:black;
}



.btn-menu{
  border: none;
  background: #fff;
  color: #CE2829; 
  padding: 10px 18px;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
/* -----menü altındaki metinler---- */
.item p{
  font-family: 'Satisfy';
  color: #CE2829;
  font-weight: 400;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: -30px;
}
.item h3{
  font-family: 'Barlow';
  font-size: 42px;
  color: #292929;
  font-weight: 600;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.menu-eng {
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: space-around;             
  gap: 20px;               
  padding: 20px; 
           
}
.btn-eng{
  width: 150px;
  height: 66px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-radius: 50px;
  background: white;
  border: none;
  text-align: center;
  font-family: 'Barlow';
  font-size: 18px;
  text-decoration: none;
  color: black;
  position: relative; 
  display: flex;               
  align-items: center;         
  justify-content: center;
}
.btn-eng img {
  width: 42px;
  height: 42px;
}
.btn-eng:nth-child(2){
  background: black;
  color: white;
}
.btn-eng:nth-of-type(4),.btn-eng:nth-of-type(5),.btn-eng:nth-of-type(6){
  flex-grow: 0.1;
}
.urunler{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
  margin-top: 30px;
}
.frame{
  background: white;
  justify-content: center;
  border-radius: 12px;
  padding: 32px;
}
.urunDetay {
  display: flex;
  flex-direction: column;
  
  
  gap: 10px;
  
}
.urunDetay img {
  width: 270.6666564941406px;
  height: 265px;
}
.urunDetay p{
  font-family: 'Barlow';
  font-weight: 600;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0%;
  text-align: left;

}
.ince{
  font-family:'Barlow';
  font-weight: 600;
  font-weight: bold;
  font-size: 16px;
  color:#1B1B1BB2
}
.kalin{
  font-family: 'Barlow';
  font-weight: 600;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0%;
  
}
.ucret {
  display: flex;
  gap:20px; 
}
.left{
  margin-right: 100px;
}
.ucret .ince:first-child {
  text-align: left;
}
.ucret .ince:nth-child(2),
.ucret .kalin {
  display: flex;
  gap: 5px;
}